<!-- the comment box -->
<div class="well">
  <h4><i class="fa fa-paper-plane-o"></i> Leave a Comment:</h4>
  <form id='comment-form' role="form">
    <div class="form-group">
      {% if user.is_authenticated %}
      <textarea id="content-comment" class="form-control" rows="3"></textarea>
      {% else %}
      <p>Только полноправные пользователи могут оставлять комментарии. 
        <a href="{% url 'auth_app:login' %}" >Войдите</a>, пожалуйста.</p>
      {% endif %}
    </div>
    <button type="submit" class="btn btn-primary"><i class="fa fa-reply"></i> Submit</button>
  </form>
</div>
<hr>

<!-- the comments -->
<div id="container">
  <div id="comment">
    <h3><i id="user" class="fa fa-comment"></i>
      <small id="created-at"></small>
    </h3>
    <p id="comment-content"></p>
  </div>
</div>


