{% extends 'auth_app/base.html'%}
{% load static %}

{% block head %}
<link href="{% static 'auth_app/css/login.css' %}" rel="stylesheet">
{% endblock head %}

{% block container %}
{% include 'auth_app/includes/prevent_access.html' %}

<div class="row" style="margin-top:20px">
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <form id="resetPasswordForm" role="form" action="{% url 'api:v1:auth_app:reset-password-confirm' %}" method="post">
      {% csrf_token %}
      <fieldset>
        <h2>Please enter a new password</h2>
        <hr class="colorgraph">
        <div id="emailGroup" class="form-group">
          <input type="password" name="password_1" id="password_1" class="form-control input-lg" placeholder="Password">
        </div>
        <div id="passwordGroup" class="form-group">
          <input type="password" name="password_2" id="password_2" class="form-control input-lg" placeholder="Confirm Password">
        </div>
        <hr class="colorgraph">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6">
            <input type="submit" class="btn btn-lg btn-success btn-block" value="Confirm">
            <p id="service-message" style="color:red; display:none">Service message for response</p>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% include 'auth_app/includes/forgot_password_modal.html' %}

{% endblock container %}

{% block jquery %}
$.getScript('{% static 'auth_app/js/query-params.js' %}');
$.getScript('{% static 'auth_app/js/reset-password.js' %}');
{% endblock %}

