{% extends "blog/base.html" %}
{% load static main %}

{% block head %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
{% endblock head %}

{% block container %}
    <h3 id="summer">
        Здесь будем создавать статью
    </h3>
    <div class="col-md-6 col-md-offset-3">
        <form id="ArticleCreateForm" method="post" accept-charset="utf-8" class="form" role="form">
            <legend>Create Article's Form</legend>
            <input type="text" name="title" class="form-control input-lg" placeholder="Title Article"/>
            <br/>
            <div class="dropdown">
              <button class="btn btn-block dropdown-toggle" data-toggle="dropdown">Category <span class="caret"></span></button>
              <ul class="dropdown-menu btn-block" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Действие</a></li>
                <li><a class="dropdown-item" href="#">Другое действие</a></li>
                <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
              </ul>
            </div>
            <br/>
            <input id="content" type="text" name="content" class="form-control input-lg" placeholder="contennt"/>
            <br/>
            <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">Create the article</button>
            <br/>
            <p id='service-message' style='color:red; display:none'>Service message for responses handler</p>
        </form>
    </div>
  {% block right_sidebar %}
    {{ block.super }}
  {% endblock right_sidebar %}

{% endblock container %}

{% block script %}
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}

{% block jquery %}
    $.getScript('{% static 'blog/js/category-list.js' %}');
    $.getScript('{% static 'blog/js/create-summernote.js' %}');
    $.getScript('{% static 'blog/js/create-article.js' %}');
{% endblock %}

